#jinja2: lstrip_blocks: "True"
[Unit]
Description=Radarr ({{ radarr_identifier }})
{% for service in radarr_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in radarr_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ radarr_container_stop_grace_time_seconds }} {{ radarr_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ radarr_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name={{ radarr_identifier }} \
			--log-driver=none \
			--user={{ radarr_uid }}:{{ radarr_gid }} \
			--cap-drop=ALL \
			--cap-add=SETUID \
			--cap-add=SETGID \
			--cap-add=CHOWN \
			--cap-add=FOWNER \
			--cap-add=DAC_OVERRIDE \
			--read-only \
			--network={{ radarr_container_network }} \
			{% if radarr_container_http_bind_port %}
			-p {{ radarr_container_http_bind_port }}:{{ radarr_container_http_port }} \
			{% endif %}
			--env-file={{ radarr_base_path }}/env \
			--label-file={{ radarr_base_path }}/labels \
			--mount type=bind,src={{ radarr_data_path }},dst=/config \
			{% for volume in radarr_container_additional_volumes %}
			--mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options | default('') else '' }} \
			{% endfor %}
			# https://docs.linuxserver.io/misc/read-only/#how
			--tmpfs=/run:rw,exec,nosuid,size=128m \
			{% for arg in radarr_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ radarr_container_image }}

{% for network in radarr_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ radarr_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ radarr_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ radarr_container_stop_grace_time_seconds }} {{ radarr_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ radarr_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ radarr_identifier }}

[Install]
WantedBy=multi-user.target
